<footer class="footer">
  <small>
    <strong><a href="https://lit-ridge-67431.herokuapp.com/">MyRecipes</a></strong>
    by <em><a href="http://www.google.com/">Orsy</a></em>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", "#" %></li>
    </ul>
  </nav>
</footer>